.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #807e7e; 
  border-radius: 10px;
  width: 500px;
  margin: 0 auto 12px;
  padding: 14px;
  background-color: greenyellow;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  width: 100%;
}

.label {
  margin-bottom: 5px;
}

.field {
  width: 100%;
  height: 1.5em;
  font-size: 20px;
  outline: none;
  border-radius: 16px;
  border: 1px solid #ccc; 
  padding: 10px;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1); 
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #45a049;
}